body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: linear-gradient(to right, #cdafe9, #976dd4);

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(227, 227, 226, 0.784);
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: rgba(155, 152, 152, 0.7);
    color: white;
    border-radius: 15px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    /* background-color: #976dd4; */
    background-color: rgba(155, 152, 152, 0.7);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(155, 152, 152, 0.5);
}
button:active{
    background-color: rgba(155, 152, 152, 0.3);
}
.operator-btn{
    background: linear-gradient(to right, #6d54d4, #976dd4);
}
.operator-btn:hover{
    background: linear-gradient(to right, hsl(252, 60%, 30%), hsl(264, 54%,70%));
}
.operator-btn:active{
    background: linear-gradient(to right, hsl(252, 60%, 75%), hsl(264, 54%,75%));
}
#equal-btn{
    background: linear-gradient(to left, rgb(109, 84, 212),hsl(264, 54%, 63%));
}
#equal-btn:hover{
    background: linear-gradient(to left, hsl(252, 60%, 30%),hsl(264, 54%, 65%));
}
#equal-btn:active{
    background: linear-gradient(to left, hsl(252, 60%, 70%),hsl(264, 54%, 75%));
}